<div class="container">
    <form action="">
      <div class="title">Login</div>
      <div class="input-box underline">
        <input type="text" #email placeholder="Enter Your Email" required>
        <div class="underline"></div>
      </div>
      <div class="input-box">
        <input type="password" #password placeholder="Enter Your Password" required>
        <div class="underline"></div>
      </div>
      <div class="input-box button">
        <input type="submit" (click)="signin(email.value,password.value)" name="" value="Continue">
      </div>
    </form>
      <div class="option">Not a member?</div>
      
      <div class="Sign-up">
          
        <a (click)="signup()" href="#" >Sign up Now </a>
      </div>
  </div>
  <!-- <router-outlet></router-outlet> -->

