<div class="container mt-3">
  <h1>Products</h1>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6" *ngFor="let product of products | paginate:{id:'listing_pagination',
    itemsPerPage: 10,
    currentPage: page,
    totalItems:totalRecords}">
      <div class="card product_card border-0 mt-3 mb-4 " >
        <div class="img-box">
          <div class="part-1">
            <ul>
                <li><a (click)="addToCart(product._id)"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                <li><a data-toggle="modal" data-target="#myModal" (click)="modal(product.frontImage,product.bottomImage,product.rightImage,product.leftImage)"><i class="fas fa-expand"></i></a></li>
            </ul>
        </div>
          <img src="{{product.frontImage}}" alt="">
        </div>
        <div class="content_box text-center mt-1">
          <h4 style="margin:0;">{{product.brand}}</h4>
          <h4 style="margin:0;">Price : Rs {{product.price}}</h4>
          <div class="color"mt-1>
            <span>Color : </span>
            <span class="dot" *ngFor="let color of product.color" [style.background-color]='color.color'></span>
            <!-- <span class="dot" style="background-color:blue;"></span>
            <span class="dot" style="background-color:orange;"></span>
            <span class="dot" style="background-color:purple;"></span> -->
          </div>
          <div class="color"mt-1>
            <span>Size : </span>
            <span class="dot" *ngFor="let size of product.size">{{size.size}}</span>
          </div>
          <!-- <div class="icon_product">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div>
    <pagination-controls id="listing_pagination"  (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content box1">
      
      <!-- Modal body -->
      <div class="modal-body ">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="container-fluid">
          <div class="row">
            <div class="col-3 scol">
              <div class="smallbox">
                <div class="sbox">
                  <img [src]="model_product.image1" (click)="bigshow(1)" alt="">
                </div>
                <div class="sbox">
                  <img [src]="model_product.image2" (click)="bigshow(2)" alt="">
                </div>
                <div class="sbox">
                  <img [src]="model_product.image3" (click)="bigshow(3)" alt="">
                </div>
                <div class="sbox">
                  <img [src]="model_product.image4" (click)="bigshow(4)" alt="">
                </div>
              </div>
            </div>
            <div class="col-9 bcol">
              <div class="bigbox">
                <div class="bbox">
                  <img [src]="bgImage" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- {{model_product.frontImage}} -->
      </div>
      
    </div>
  </div>
</div>