<!-- 
<form enctype="multipart/form-data">
    <div class="container" >
        <label for="categoryName"><b>Name</b></label>
        <input  type="text"  [(ngModel)]="categoryName" placeholder="Enter Name" name="categoryName" required>
    
        <label for="categoryImage" ><b>Image</b></label>
        <input type="file"  (change)="selectImages($event)" name="categoryImage" class="Images" required>
    
        <div class="clearfix">
          <button (click)="AddedCategory()"  class="addcategorybtn mt-5">Add Category</button>
        </div>
      </div>
    </form>
     -->